extends layout
mixin nodeWithChildren(title, data, obj)
    li
        span(class="title text")
            - var hasDataOrChildren =  (obj.children && obj.children.length != 0) || (obj.data.length != 0)
           i(class=hasDataOrChildren?"glyphicon glyphicon-plus":"glyphicon glyphicon-pencil")
            | #{title}


        span(class="line")
        span(class="data text", style="display: none")
            - if(!data)
            -   data=""
            i(class="glyphicon glyphicon-file")
            | #{obj.data}
        - if (obj.children && obj.children.length != 0)
        ul
            - each child in obj.children
                - console.log("considering child "+ JSON.stringify(child))
                    mixin nodeWithChildren(child.path,child.data, child)

block content
  div(class="page-header")
    h1= title
        small  a friendly interface for zookeeper
  h2 All nodes
  #container.tree
    ul
        +nodeWithChildren('ROOT', '',allData)












